/*
* Import fonts
*/
/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v18-latin-regular.woff2") format("woff2"), url("../fonts/work-sans-v18-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/work-sans-v18-latin-900.woff2") format("woff2"), url("../fonts/work-sans-v18-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lora-v32-latin-regular.woff2") format("woff2"), url("../fonts/lora-v32-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lora-v32-latin-700.woff2") format("woff2"), url("../fonts/lora-v32-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*
* Variables
*/
/*
* Colors
 */
/*
* Font sizes
*/
/*
* Mixins
*/
/*
* General
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headline {
  font-family: "Lora";
  font-weight: 700;
  font-size: clamp(1rem, 2rem + 5vw, 6rem);
}

.headline--small {
  font-size: clamp(2rem, 2rem + 1.75vw, 6rem);
  max-width: 18ch;
}

.text {
  font-family: "Work Sans";
  font-weight: 400;
  margin: 0 0.5rem;
  font-size: clamp(0.75rem, 0.5rem + 2vw, 1rem);
}

.text--white {
  color: #fff;
}

.text--white-border {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

/*
TODO: Just temporary! I still have to change the image style, this might only be useful for small devices so for media queries
*/
.img {
  max-inline-size: 100%;
  block-size: auto;
}

/*
* Header
*/
.header {
  background-color: #000;
}

.header__line {
  display: block;
  width: 1px;
  height: 7.5rem;
  margin: 0 auto;
}

.header__welcome {
  margin: 3rem 0;
}

.header__headline {
  margin-inline: 3rem;
}

.header__text--center {
  text-align: center;
}

.header__text--center:nth-of-type(2) {
  width: 25ch;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2rem;
  justify-content: space-between;
}

.welcome__logo {
  margin-top: 2rem;
  width: clamp(3rem, 3rem + 5vw, 4rem);
}

.welcome__btn {
  margin-top: 1.5rem;
}

.btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 2rem);
  padding: 0.5rem 2rem;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}

.header__intro {
  padding-bottom: 4rem;
}

.intro {
  display: grid;
}

.intro__headline {
  position: relative;
  z-index: 1;
}

.intro__map {
  margin: -3rem 2rem 2rem 1rem;
  width: clamp(10rem, 10rem + 30vw, 100rem);
  justify-self: end;
}

.intro__info {
  align-self: end;
  margin: -17rem 2rem 0 1rem;
}

.intro__numbers {
  margin-block-end: 3rem;
}

/*
* Main
*/
.main__grid {
  display: grid;
  gap: 0.25rem;
  margin: 0.5rem;
}

.main__article {
  margin-block-start: -5rem;
  margin-block-end: 2rem;
  margin-inline: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.9);
}

.section__golden-bear {
  background-color: #000;
}

.section__poppy-bear {
  background-color: #fff;
}

/*
* Footer
*/
.footer {
  background-color: #000;
}

/*
* Media queries
*/
@media only screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
  .welcome__flexbox {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
